body {
	margin: 0px;
}

canvas {
	height: 100%;
	width: 100%;
}

#welcome {
	font-family: 'Josefin Sans', sans-serif;
	width: 100%;
	height: auto;
	background-color: rgba(20, 20, 20, .8);
	top: 30%;
	position: fixed;
	z-index:10;
	padding: 40px;
}

#welcomeContent {
	width: 60%;
	margin-left: 20%;
	margin-top: auto;
	color: whitesmoke;
	text-align: center;
}

#hideMessage {
	width: 20%;
	margin-left: 40%;
	left: 50%;
	margin-top: 30px;
	padding-bottom: 5px;
	border: 1px solid white;
	cursor: pointer;
	opacity: .7;
}

#hideMessage:hover {
	opacity: 1;
}

#resetButton {
	position: absolute;
	bottom: 33px;
	left: 17%;
	opacity: .4;
}

#resetButton:hover {
	opacity: .8;
}

#resetButton img {
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.slidecontainer {
	z-index: 10;
	position: absolute;
	bottom: 50px;
	width: 60%;
	left: 25%;
}

.slider {
	-webkit-appearance: none;
	outline: none;
	border: 0;
	opacity: .3;
	height: 3px;
	cursor: pointer;
	-webkit-transition: .3s;
}

.slider:hover {
	opacity: .8;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
	cursor: pointer;
}
